.button__container {
    height: 42px;
    width: 240px;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 4px 6px 34px 0px rgba(255, 255, 255, .12);
    cursor: pointer;

    font-weight: 700;

    margin: 0 10px 0 10px;

    transition: all .4s;
}

.button__container:hover {
    opacity: .9;
}

.disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}

.primary {
    background-color: var(--success-green);
}

.secondary {
    background-color: var(--danger-red);
}